.btn {
  font-family: var(--font-text);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  border: none;
  background-color: var(--color-primary);
  color: red;
  cursor: pointer;
}

.white {
  background-color: #fff;
  color: var(--color-primary);
}
